*{
    padding: 0;
    margin: 0;
}
.main-nav{
    width: 100%;
    margin: auto;
}

.contact{
    
    background-color: rgb(163, 184, 202);
    width: 100%;
    margin: auto;
}


.carousel .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }